blockquote{
	color: inherit;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
}

h1{
	color: inherit;
	font-size: 48px;
	line-height: 60px;
	margin-bottom: 0px;
}

p{
	font-size: 1em;
	line-height: 15px;
	margin-bottom: 15px;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fecece;
	color: red;
}

pre{
	font-size: 11px;
}

p.preamble{
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}

#block_1{
	top: 0px; 
	height: 105px; 
	left: 0px; 
	width: 300px; 
}

#block_2{
	top: 0px; 
	height: 570px; 
	left: 240px; 
	width: 700px; 
}

#block_3{
	top: 225px; 
	height: 60px; 
	left: 0px; 
	width: 220px; 
}

#block_4{
	top: 285px; 
	height: 285px; 
	left: 0px; 
	width: 300px; 
}

#block_5{
	top: 510px; 
	height: 510px; 
	left: 400px; 
	width: 540px; 
}

#block_6{
	top: 585px; 
	height: 330px; 
	left: 0px; 
	width: 300px; 
}

#block_7{
	top: 930px; 
	height: 90px; 
	left: 80px; 
	width: 220px; 
}

#block_8{
	top: 1035px; 
	height: 60px; 
	left: 0px; 
	width: 60px; 
}

#block_9{
	top: 1035px; 
	height: 165px; 
	left: 80px; 
	width: 220px; 
}

#block_10{
	top: 1035px; 
	height: 150px; 
	left: 400px; 
	width: 300px; 
}

#block_11{
	top: 1035px; 
	height: 150px; 
	left: 720px; 
	width: 220px; 
}

#block_12{
	top: 1185px; 
	height: 210px; 
	left: 400px; 
	width: 540px; 
}

#block_13{
	top: 1215px; 
	height: 165px; 
	left: 80px; 
	width: 60px; 
}

